* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* navbar styling */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  padding-left: 550px;
  border-bottom: 2px solid #000000;
  padding-bottom: 10px;
  padding-right: 70px;
}

.nav-links li {
  list-style: none;
  font-size: 18px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 400;
  padding: 20px;
  display: block;
}

.nav-item {
  text-decoration: none;
  position: relative;
  display: block;
}

.cart-info {
  display: block;
  font-size: 0.8em;
  text-align: center;
  margin-top: 5px;
}

.cart-popup {
  position: absolute;
  top: 65px;
  left: 0;
  background-color: white;
  border: 1px solid #333;
  padding: 10px;
  width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  font-size: 0.8em;
}

.cart-popup p {
  margin: 2px 0;
  line-height: 1.2;
}

.nav-item.current a {
  background-color: yellow;
  font-weight: 750;
}

.nav-item a:hover {
  background-color: yellow;
}

.site-logo img{
  width: 400px;
}

/* header styling */
header h1 {
  font-weight: 200;
  font-size: 30px;
  text-align: center;
}

body {
  overflow-x: hidden;
  max-width: 1200px;
}

/* main products section */
#products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  margin-left: 100px;
}

.product-item {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product-item img {
  max-width: 100%;
  height: auto;
  border: 3px solid #000000;
}

.product-item h3 {
  font-size: 1.4em;
  margin-bottom: 30px;
}

.product-content {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

/* left column product content styling */
.left-column {
  flex: 1; 
  padding: 10px;
}

.left-column p {
  text-align: left;
  font-size: 1em;
  padding: 10px;
}

.price p {
  font-size: 1.5em;
  width: 7px;

}

/* right column product styling */
.right-column {
  text-align: right;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  padding: 8px;
}

.glazing-dropdown select {
  font-size: 1.2em;
}

.pack-size {
  display: flex;
  gap: 5px;
}

.pack-size p {
  font-size: 0.8em;
}

.pack-size input {
  display: none;
}

.pack-size label {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 2px solid #000000;
  font-weight: bold;
  cursor: pointer;
}

.pack-size label:hover {
  background-color: #c5c5c5;
}

.pack-size input:checked + label {
  background-color: #c5c5c5;
}

.cart-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.cart-button button {
  border: 3px solid #000000;
  padding: 10px 30px;
  font-size: 1.3em;
  cursor: pointer;
}

.cart-button button:hover {
  background-color: yellow;
}
